@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/AboutLayout.cshtml";
}
<!-- about -->
<div class="about-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="abouttitle">
                    <h2>About Us</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="aboutheading">
                    <span>The main issue facing nearly 20 million college students & ~ 4 million graduate students at the end of each year is what to do with old textbooks. As well as how to get new books for proceeding courses at the best price possible.<br><br>Uni-Book aims to provide a solution to this issue by offering students a web & mobile application where they may purchase & sell university textbooks nationally, while retaining the majority of the textbook's value.</span>
                </div>
            </div>
        </div>
        <div class="row border">
            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                <div class="about-box">
                    <p>Students will be able to link their university accounts to their Uni-Book account which will automatically find their course materials & add them to the student's book list so they may choose to purchase them or remove them from the list.<br /><br />Students can input search preferences for author, price, condition, edition, estimated shipping date, and more, & our search algorithm will scrub the internet to find the best match to the student's inputed preferences.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                <div class="about-box">
                    <figure><img src="../images/about.png" alt="img" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end about -->
