
@{

}

<div class="login-box">
    <div class="login-logo">
        <a href="../Home/Index"><b>You are logged out</b></a>
    </div><!-- /.login-logo -->
    <a href="../Account/Login">Login</a><br>
    <a href="../Account/Register" class="text-center">Register a new membership</a>

    <!-- /.login-box-body -->
</div>
